@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@500&display=swap");
* {
  font-family: "Anuphan", sans-serif;
}
h1 {
  color: #fff;
}
.bodys {
  padding: 10px;
  margin: 0 20%;
  background: #304a89;
  border-radius: 20px;

}
.checkboxs{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.span_isinvalid{
  border: 1px solid rgb(191, 6, 6);
}
.openSelect{
  display: block;
}
.closeSelect{
  display: none;
}
.selectProvince{
  width: 100%;
  margin: 10px 0;
}
@media only screen and (max-width: 600px){
  .bodys{
    margin: 0 20px;
  }
}
