<div class="container text-center">
  <div class="body">
    <h1>MENU</h1>
    <div class="card">
      <div class="card-body">
        <div class="img-body" (click)="this.router.navigate(['/product/admin'])">
          <img src="/assets/icon/product.png" alt="" />
          <p>Product</p>
        </div>
        <div class="img-body" (click)="this.router.navigate(['/order/admin'])">
          <img src="/assets/icon/order.png" alt="" />
          <p>Order</p>
        </div>
        <div class="img-body">
          <img src="/assets/icon/order.png" alt="" (click)="this.router.navigate(['/shops'])"/>
          <p>Shop</p>
        </div>
        <div class="img-body">
          <img src="/assets/icon/order.png" alt="" />
          <p>Order</p>
        </div>
      </div>
    </div>
  </div>
</div>
