<div class="container text-center">
  <div class="body">
    <app-minitor></app-minitor>
    <div class="card">
      <div class="card-bodys">
        <div class="img-body" (click)="this.router.navigate(['/product/admin'])">
          <img src="/assets/icon/products.png" alt="" />
          <p>Product</p>
        </div>
        <div class="img-body" (click)="this.router.navigate(['/order/admin'])">
          <img src="/assets/icon/orders.png" alt="" />
          <p>Order</p>
        </div>
        <div class="img-body">
          <img src="/assets/icon/pos.png" alt="" (click)="this.router.navigate(['/product'])"/>
          <p>Shop</p>
        </div>
        <div class="img-body" [routerLink]="['/store/menu']">
          <img src="/assets/icon/store.png" alt="" />
          <p> Warehouse</p>
        </div>
        <div class="img-body" [routerLink]="['/accout/admin']">
          <img src="/assets/icon/accout.png" alt="" />
          <p> Account</p>
        </div>
        <div class="img-body" [routerLink]="['/stock/admin']">
          <img src="/assets/icon/stock.png" alt="" />
          <p> Stock</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isNotBranch_id" class="modalBranch p-3">
  <form class="card" action="" #branch="ngForm" >
    <label class="" for="branch">เลือกสาขา</label>
    <select class="form-select" ngModel name="branch" style="width: 100%; height: 5%;" aria-label="Default select example">
      <option value="" disabled="disabled">เลือก</option>
      <option *ngFor="let item of allBranch" id="branch"  value="{{item.id}}">{{item.title}}</option>
    </select>
    <button type="submit" class="btn btn-danger mt-2" style="width: 100%;" >ยื่นยัน</button>
  </form>
</div>
