<div class="container text-center body flexItem">
  <div class="formCreate card">
    <h1>Create Product</h1>
    <form #productForm="ngForm">
      <div class="input-group mb-3" (change)="uploadImage($event)">
        <span class="input-group-text" id="basic-addon1">images</span>
        <input
          ngModel
          name="images"
          type="file"
          placeholder="Link"
          required [disabled]="this.cannotClick"
        />
      </div>
      <div class="d-flex align-items-center" *ngIf="this.upload">
        <strong>upload image...</strong>
        <div class="spinner-border spinner-border-sm ms-auto text-primary" role="status" aria-hidden="true"></div>
      </div>
      <div *ngIf="this.imagePrevetn !== ''" class="card p-2 img_tag">
        <img width="80px" src="{{imagePrevetn}}" alt="">
      </div>
      <div class="input-group mb-3 mt-2">
        <span class="input-group-text" id="basic-addon1">name</span>
        <input
          [(ngModel)]="formProduct.name"
          name="name"
          type="text"
          class="form-control input"
          placeholder="name"
          required [disabled]="this.cannotClick"
        />
      </div>
      <div class="input-group mb-3 mt-2">
        <span class="input-group-text" id="basic-addon1">description</span>
        <input
          [(ngModel)]="formProduct.description"
          name="description"
          type="text"
          class="form-control input"
          placeholder="name"
          required [disabled]="this.cannotClick"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">sku</span>
        <input
          [(ngModel)]="formProduct.sku"
          name="sku"
          id="sku"
          type="text"
          class="form-control input"
          placeholder="sku"
          required [disabled]="this.cannotClick" (input)="checkSKU()"
        />
      </div>
      <p style="color: red;">{{txtSKU}}</p>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">จำนวนบนชั่นวางของ</span>
        <input
          [(ngModel)]="formProduct.stock_external"
          name="stock_external"
          type="text"
          class="form-control input"
          placeholder="sku"
          required [disabled]="this.cannotClick"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">จำนวนสินค้าหลังร้าน</span>
        <input
          [(ngModel)]="formProduct.stock_internal"
          name="stock_internal"
          type="text"
          class="form-control input"
          placeholder="sku"
          required [disabled]="this.cannotClick"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ราคาขาย</span>
        <input
          [(ngModel)]="formProduct.price"
          name="price"
          type="number"
          id="price"
          class="form-control input"
          placeholder="sku"
          required [disabled]="this.cannotClick" (input)="piceP1()"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ราคา p1</span>
        <input
          [(ngModel)]="formProduct.p1"
          name="p1"
          type="number"
          class="form-control input"
          placeholder="sku"
          required [disabled]="this.cannotClick" 
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ราคา p2</span>
        <input
          [(ngModel)]="formProduct.p2"
          name="p2"
          type="number"
          class="form-control input"
          placeholder="sku"
          required [disabled]="this.cannotClick"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ราคา p3</span>
        <input
          [(ngModel)]="formProduct.p3"
          name="p3"
          type="number"
          class="form-control input"
          placeholder="sku"
          required [disabled]="this.cannotClick"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ราคา p4</span>
        <input
          [(ngModel)]="formProduct.p4"
          name="p4"
          type="number"
          class="form-control input"
          placeholder="sku"
          required [disabled]="this.cannotClick"
        />
      </div>
      <div class="buttons">
        <button class="btn btn-success" type="button" [disabled]="this.cannotClick" (click)="addProduct()">
          Add Front Stock
        </button>
        <button class="btn btn-danger" type="button" [disabled]="this.cannotClick" >Add Back Stock</button>
      </div>
    </form>
  </div>
  <!-- <div class="listItem card p-3">
    <h2>Cart Stock</h2>
    <div class="frontStock">
      <div class="cardHeader card">
        <div class="card cardListItem" *ngFor="let item of cartFont">
          <p><img width="20px" src="{{item.images[0].src}}" alt=""></p>
          <p class="md-3">{{item.name | slice:0:20 }}</p>
          <p class="md-1">x{{item.stock_quantity}}</p>
          <p class="md-2 ml-3">{{item.regular_price}}</p>
        </div>
      </div>
      <div class="cardBody card">
        <h2>FrontStock</h2>
        <button class="btn btnCreate" *ngIf="!this.createItem" (click)="onCreateProduct()" >Create </button>
        <button class="btn btnCreate" *ngIf="this.createItem" disabled >Create <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="backStock">
      <div class="cardHeader card">
        <div class="card cardListItem" >
          <img width="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="">
          <p>name</p>
          <p>stock</p>
          <p>price</p>
        </div>
      </div>
      <div class="cardBody card">
        <h2>BackStock</h2>
        <button class="btn btnCreate" >Create</button>
      </div>
    </div>
  </div> -->
</div>

<app-loadding *ngIf="isLoadding"></app-loadding>
