<div class="bodys p-4">
  <div class="card">
    <div class="body_header card">
      <div class="name_header">
        <h1>OrderID {{orderDetail.id}}</h1>
      </div>
      <div class="icon_header">
          <img src="" alt="">
          <h1 class="btn btn-outline-success">{{orderDetail.status | status}}</h1>
      </div>
      <div class="icon_header">
        <button type="button" class="btn btn-primary" >เปิด qrcode</button>
        <button type="button" class="btn btn-secondary" (click)="prushing()">ชำระแล้ว</button>
        <button type="button" class="btn btn-warning" (click)="cancelOrder(orderDetail.id)">ยกเลิกคำสั่งซื้อ</button>
        <button type="button" class="btn btn-danger" (click)="deleteOrder(orderDetail.id)">ลบคำสั่งซื้อ</button>
      </div>
    </div>
    <div class="qrcode"> 
      <!-- <qrcode [qrdata]="'0628036381'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>   -->
      <img [src]="promptpayQRCode" alt="PromptPay QR Code">
    </div>
    <div class="body_card card">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name Products</th>
            <th>quantity</th>
            <th>price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderDetail.line_items; let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
          </tr>
        </tbody>
      </table>
      <div class="total_price">
        <p>Total {{orderDetail.total}}</p>
      </div>
    </div>
    <div class="body_footer card">
      <div class="create">
        create
      </div>
      <div class="update">
        update
      </div>
    </div>
  </div>
</div>

<app-loadding *ngIf="isLoadding"></app-loadding>
<app-input-modal *ngIf="data.openPuching" [data]="data" [product_id_arr]="product_id_arr"></app-input-modal>
