.body_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  padding: 15px;
}
.name_header{
  width: 30%;
}
.icon_header{
  width: 70%;
  display: flex;
  justify-items: end;
}
.body_card{
  padding: 15px;
}
.total_price{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.body_footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
