<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo/logo_pinsouq.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
      <p class="font">Pinsouq Store</p>
    </a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        เลือกร้านค้า/สาขา
      </button>
      <ul class="dropdown-menu dropdown-menu-white">
        <li [routerLink]="['/store/create']" ><a class="dropdown-item">สร้างสโตร์ใหม่</a></li>
        <li><hr class="dropdown-divider"></li>
        <div *ngFor="let item of isBranch">
          <li (click)="selectBranch(item)"><a class="dropdown-item" >{{item.title}}</a></li>
          <li><hr class="dropdown-divider"></li>
        </div>
      </ul>
      <p class="btn btn-success">{{branchTitle}}</p>
    </div>
    <a><img class="menu " src="assets/icon/menu.png" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"></a>
  </div>
</nav>
<app-sidenav></app-sidenav>
