<div class="bs p-3">
  <div class="headers card">
    <div class="search">
      <input id="title" type="text" placeholder="Search Warehouse Email" (change)="serachData($event)">
      <img src="assets/icon/search.png" alt="" >
    </div>
  </div>
  <div class="sections card p-3 mt-1">
    <div id="bar" class="bar card">
      <p style="font-size: 1.2rem; font-weight: 700;">My Warehouse</p>
      <div style="margin-left: 20px;">
        <p *ngIf="isNotBranchInDataBase" style="color: red; font-size: 2rem;">{{isNotBranchInDataBase}}</p>
        <div *ngFor="let item of myBranch">
          <div *ngIf="item.role === 0" class="menu_bar" (click)='isNotComfirm()'><p>{{item.title}}</p> <p style="font-size: 0.8rem; color: red;">(รอยืนยัน)</p> </div>
          <p *ngIf="item.role > 0" class="menu_bar" (click)="whereBranchById(item.branch_id)">{{item.title}}</p>
        </div>
      </div>
    </div>
    <div class="tables card p-2" style="overflow: scroll;">
      <div *ngIf="isCLick" >
        <div class="card p-3">
          <button type="button" class="btn btn-success" (click)="inviteUser(users[0].branch_id)">เพิ่มพนักงาน</button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>email</th>
              <th>nicename</th>
              <th>role</th>
              <th>action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users;let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.user_email}}</td>
              <td>{{item.user_nicename}}</td>
              <td>{{item.role | roleWarehouse}}</td>
              <th>
                <a (click)="openDeatail(item)">click</a>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="action" *ngIf="isDetail">
        <div class="action_header card p-3" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
          <div class="name" style="display: flex; justify-content: space-between; width: 30%;">
            <p>name: {{itemDetail.user_nicename}}</p>
            <p>name: {{itemDetail.user_email}}</p>
          </div>
          <img style="width: 60px;" src="assets/images/noImage.png" alt="">
        </div>
        <div class="action_body card">
          <table class="table">
            <thead>
              <tr>
                <th>รายละเอียด</th>
                <th>อ่านข้อมูล</th>
                <th>แก้ไขข้อมูล</th>
                <th>ผู้ดูแล</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let item of status">
                <td>{{item.title}}</td>
                <td><img width="40px" src="{{item.icon1}}" alt=""></td>
                <td><img width="40px" src="{{item.icon2}}" alt=""></td>
                <td><img width="40px" src="{{item.icon3}}" alt=""></td>
                <td>
                  <div class="form-check form-switch">
                    <input #reader class="form-check-input" type="checkbox" role="switch" (click)="selectRole('reader', reader.value)" id="reader">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="action_footer card">
          <p>delete On Warehouse</p>
          <button type="button" class="btn btn-danger" (click)="deleteUserInWarehouse(itemDetail.id)">delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-search *ngIf="objSearch.search" (close)="objSearch.search = false" [data]="objSearch"></app-search>
<app-loadding *ngIf="isLoadding"></app-loadding>
