<div class="bodyPackign card">
    <div class="sidbar card">
        <input type="text" placeholder="search">
        <button type="button" (click)="navigateToPacking()">create</button>
    </div>
    <table class="table card">
        <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
</div>
