.bodyPackign{
    padding: 10px 20px;
    margin: 10px;
}
.sidbar{
    margin: 10px 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
