<body>
  <form class="card p-2" action="" #stockFrom="ngForm">
    <div class="headers card p-2">
      <h2>CreateStock</h2>
      <h2>เพิ่มสตอก</h2>
      <div style="display: flex; justify-content: center">
        <img
          style="width: 20%; height: 20%; object-fit: unset"
          src="{{ productDetail.images ? productDetail.images[0].src : nImg }}"
          alt=""
        />
        <div style="margin: 0 10px">
          <p>ชื่อสินค้า: {{ productDetail.name }}</p>
          <p>SKU: {{ productDetail.sku }}</p>
        </div>
      </div>
    </div>
    <div class="bodys card p-2">
      <div style="margin: 10px 0">
        <p>จำนวนบนสินค้าบนชั่นวางของ</p>
        <input
          ngModel
          name="stock_external"
          class="from_control"
          type="number"
          value="{{this.valueStockInIdProduct[0]? this.valueStockInIdProduct[0].stock_internal: ''}}"
          placeholder="จำนวนบนสินค้าบนชั่นวางของ"
        />
      </div>
      <div style="margin: 10px 0">
        <p>จำนวนบนสินค้าหลังร้าน</p>
        <input
          ngModel
          name="stock_internal"
          class="from_control"
          type="number"
          value="{{this.valueStockInIdProduct[0]? this.valueStockInIdProduct[0].stock_external: ''}}"
          placeholder="จำนวนบนสินค้าหลังร้าน"
        />
      </div>
      <div style="margin: 10px 0">
        <p>ราคาขาย</p>
        <input
          ngModel
          name="price"
          class="from_control"
          type="number"
          value="{{this.valueStockInIdProduct[0]? this.valueStockInIdProduct[0].price: ''}}"
          placeholder="ราคาขาย"
        />
      </div>
      <div style="margin: 10px 0">
        <p>ราคา p1</p>
        <input
          ngModel
          name="p1"
          class="from_control"
          type="number"
          value="{{this.valueStockInIdProduct[0]? this.valueStockInIdProduct[0].p1: ''}}"
          placeholder="ราคาขาย"
        />
      </div>
      <div style="margin: 10px 0">
        <p>ราคา p2</p>
        <input
          ngModel
          name="p2"
          class="from_control"
          type="number"
          value="{{this.valueStockInIdProduct[0]? this.valueStockInIdProduct[0].p2: ''}}"
          placeholder="ราคาขาย"
        />
      </div>
      <div style="margin: 10px 0">
        <p>ราคา p3</p>
        <input
          ngModel
          name="p3"
          class="from_control"
          type="number"
          value="{{this.valueStockInIdProduct[0]? this.valueStockInIdProduct[0].p3: ''}}"
          placeholder="ราคาขาย"
        />
      </div>
      <div style="margin: 10px 0">
        <p>ราคา p4</p>
        <input
          ngModel
          name="p4"
          class="from_control"
          type="number"
          value="{{this.valueStockInIdProduct[0]? this.valueStockInIdProduct[0].p4: ''}}"
          placeholder="ราคาขาย"
        />
      </div>
      <div style="margin: 10px 0">
        <select class="from_control" ngModel name="branch_id" id="">
          <option value="" disabled="disabled" selected>เลือกสาขา</option>
          <option *ngFor="let item of barnchAll" value="{{ item.id }}">
            {{ item.title }}
          </option>
        </select>
      </div>
    </div>
    <div class="footers card p-2">
      <button
        class="btn btn-success p-2"
        type="button"
        (click)="createStock(stockFrom.value)"
      >
        เพิ่มสต๊อก
      </button>
    </div>
  </form>
</body>
