<div class="body p-3">
  <div class="card body">
    <div class="card card-header">
      <div>
        <input class="text-search" type="text" placeholder="Searching Data" />
      </div>
      <button class="btn-create" (click)="onCreateProduct()">
        Create Order
      </button>
    </div>
    <div class="card p-3 mt-2">
      <div class="card m-2" *ngFor="let item of orders; let i = index">
        <div class="card-body" (click)="detailOrder(item.id)">
          <div class="card-number">
            <div class="numbers">
              <p>{{ i + 1 }}</p>
              <h3 class="ml-4">
                ประเภทการสั่งซื้อ {{item.shipping_lines[0].method_title}}
              </h3>
              <h1 class="status-hold" *ngIf="item.status === 'on-hold'">
                {{ item.status | status }}
              </h1>
              <h1
                class="status-processing"
                *ngIf="item.status === 'processing'"
              >
                {{ item.status | status }}
              </h1>
              <h1
                class="status-processing"
                *ngIf="item.status === 'pending'"
              >
                {{ item.status | status }}
              </h1>
            </div>
            <div class="numbers">
              <p></p>
              <p>
                สั่งซื้อโดย {{ item.shipping.first_name }}
                {{ item.shipping.last_name }}
              </p>
            </div>
            <div class="numbers"></div>
            <div class="numbers">
              <p>เวลาสร้าง {{ item.date_created | date:'shortDate' }}</p>
              <p>อัพเดทล่าสุด {{ item.date_modified | date: 'M/d/yy' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loadding *ngIf="isLoadding"></app-loadding>
