<div class="body p-4">
  <h1>{{ detailProduct.name }}</h1>
  <div class="card">
    <div class="card p-3">
      <div class="card_body">
        <img
          [src]="
            detailProduct.images ? detailProduct.images[0].src : noImage
          "
          class="card-img-top"
          alt="..."
        />
        <!-- <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="form-group mb-3">
            <input type="file" (change)="uploadFile($event)" />
          </div>
          <div class="form-group mb-3">
            <input
              class="form-control"
              placeholder="Image name"
              formControlName="name"
            />
          </div>
          <div class="d-grid">
            <button class="btn btn-primary btn-lg">Submit</button>
          </div>
        </form> -->
        <form action="" #imageFrom="ngForm" (change)="uploadImage($event)">
          <input type="file" ngModel name="file" multiple accept="image/*" />
        </form>

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>สิคค้าบนชั่นวาง</th>
                <th>สิคค้าที่สต๊อก</th>
                <th>ราคา</th>
                <th>สาขา</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of stockDetail; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.stock_internal}}</td>
                <td>{{item.stock_external}}</td>
                <td>{{item.price | number}}</td>
                <td>{{item.br_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button (click)="this.location.back()">back</button>
    </div>
  </div>
</div>
