<div class="body p-4">
  <h1>{{ detailProduct.name }}</h1>
  <div class="card">
    <div class="card p-3">
      <div class="card_body">
        <img
          [src]="
            detailProduct.images[0] ? detailProduct.images[0].src : noImage
          "
          class="card-img-top"
          alt="..."
        />
        <!-- <img src="{{item.images.src}}" alt=""> -->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <button (click)="this.location.back()">back</button>
    </div>
  </div>
</div>
