<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasScrollingLabel">Menu Pinsouq</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="body">
      <div
        class="icon"
        [routerLink]="['/shops']"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
      >
        <p class="">Shoping</p>
        <img class="iconImg" src="assets/icon/log-out.png" alt="" />
      </div>
      <div
        class="icon"
        [routerLink]="['/product/admin']"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
      >
        <p class="">Stock</p>
        <img class="iconImg" src="assets/icon/log-out.png" alt="" />
      </div>
      <div
        class="icon"
        [routerLink]="['/order/admin']"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
      >
        <p class="">Orders</p>
        <img class="iconImg" src="assets/icon/log-out.png" alt="" />
      </div>
      <div
        class="icon"
        data-bs-toggle="collapse"
        href="#multiCollapseExample1"
        role="button"
        aria-expanded="false"
        aria-controls="multiCollapseExample1"
      >
        <p class="">Toggle first element</p>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div style="width: 100%" class="card">
            <p>order-All</p>
            <p>Order-New</p>
          </div>
        </div>
      </div>
      <div class="icon" (click)="removeLocalStorge()">
        <p class="">logout</p>
        <img class="iconImg" src="assets/icon/log-out.png" alt="" />
      </div>
    </div>
  </div>
</div>
