<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasScrollingLabel">Menu Pinsouq</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="body">
      <div
        class="icon"
        [routerLink]="['/shops']"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
      >
        <p class="">Shoping</p>
        <img class="iconImg" src="assets/icon/log-out.png" alt="" />
      </div>
      <div
        class="icon"
        [routerLink]="['/product/admin']"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
      >
        <p class="">Product</p>
        <img class="iconImg" src="assets/icon/log-out.png" alt="" />
      </div>
      <div
        class="icon"
        [routerLink]="['/stock/admin']"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
      >
        <p class="">Stock</p>
        <img class="iconImg" src="assets/icon/log-out.png" alt="" />
      </div>
      <div
        class="icon"
        [routerLink]="['/order/admin']"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
      >
        <p class="">Orders</p>
        <img class="iconImg" src="assets/icon/log-out.png" alt="" />
      </div>
      <div
        class="icon"
        [routerLink]="['/accout/home']"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
      >
        <p class="">Accout</p>
        <img class="iconImg" src="assets/icon/log-out.png" alt="" />
      </div>
      <div
        class="toggle"
        id="accoutId"
        #accoutId
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling"
      >
        <div>
          <p class="">Accout</p>
        </div>
          <ul class="list-group list-group-flush">
            <a [routerLink]="['/accout/admin']" class="list-group-item">acout admin</a>
            <a [routerLink]="['/accout/home']" class="list-group-item">acout home</a>
          </ul>
      </div>
      <div class="icon" (click)="removeLocalStorge()">
        <p class="">logout</p>
        <img class="iconImg" src="assets/icon/log-out.png" alt="" />
      </div>
    </div>
  </div>
</div>
