<div class="containers">
  <h3>รายงาน Admin</h3>
  <button (click)="this.route.navigate(['accout/create'])" class="btn accoutInsert">เพิ่มข้อมูล</button>
  <form action="" #dateAndBranch="ngForm">
    <div class="menu_select">
        <input class="menu_input" type="date" ngModel name="date">
        <select class="menu_input" name="" id="" ngModel name="branch_id">
          <option value=""disable='disable'>เลือกสาขา</option>
          <option value="" (click)="fetchAccout()">ทั้งหมด</option>
          <option *ngFor="let item of branchItem" value="{{item.id}}">{{item.title}}</option>
        </select>
      <button type="button" class="btn btn_screening" (click)="screeningDate(dateAndBranch.value)">คัดกรอง</button>
    </div>
  </form>
  <div class="box info">
      <p>คงเหลือ</p>
      <h1 *ngIf="accoutItem.length <= 0">0</h1>
      <h1 *ngIf="accoutItem.length != 0">{{sumIncome() - sumPayment() | number}}</h1>
  </div>
  <div class="payment">
      <div class="box success" style="margin-right: 10px;">
          <p>รายรับ</p>
          <p *ngIf="accoutItem.length <= 0">0</p>
          <p *ngIf="accoutItem.length != 0">{{sumIncome() | number}}</p>
      </div>
      <div class="box danger" style="margin-left: 10px;">
          <p>รายจ่าย</p>
          <p *ngIf="accoutItem.length <= 0">0</p>
          <p *ngIf="accoutItem.length != 0">{{sumPayment() | number}}</p>
      </div>
      <div></div>
  </div>
  <div style="display: flex; margin-top: 30px;" >
      <p style="cursor: pointer;" (click)="selectAccout('')" id="all" class="tag active">ทั้งหมด</p>
      <p style="cursor: pointer;" (click)="selectAccout('income')" id="income" class="tag">รายรับ</p>
      <p style="cursor: pointer;" (click)="selectAccout('payment')" id="payment" class="tag">รายจ่าย</p>
  </div>
  <div class="isNotDataInDate" *ngIf="isAccoutDateNull">
    <h3>{{isAccoutDateNull}}</h3>
  </div>
  <div class="statement" *ngFor="let item of accoutItem" (click)="showAccout(item.id)" id="statement{{item.id}} {{item.type_accout}}">
      <div style="display: flex; justify-content: center; width: 100%;">
        <div *ngIf="item.type_accout === 'รับเงิน'"><i><img width="30px" src="assets/icon/money.png" alt=""></i></div>
        <div *ngIf="item.type_accout === 'จ่ายเงิน'"><i><img width="30px" src="assets/icon/pay.png" alt=""></i></div>
        <div style="margin-left: 15px; width: 100%;">
              <p style="font-size: 15px;">{{item.type_accout}}</p>
              <p style="font-size: 14px;">{{item.title}}</p>
              <p style="font-size: 11px;">{{item.detail}}</p>
              <p *ngIf="item.type_accout === 'จ่ายเงิน'" style="font-size: 14px;" class="text_danger">- {{item.total | number}}</p>
              <p *ngIf="item.type_accout === 'รับเงิน'" style="font-size: 14px;" class="text_sucess">+ {{item.total | number}}</p>
              <div style="display: flex; justify-content: space-between; width: 100%;">
                <p style="font-size: 12px;">By {{item.user_nicename}}</p>
                <p style="font-size: 12px; margin-left: 50px; color: rgb(255, 0, 0);">สาขา{{item.br_title}}</p>
              </div>
              <div style="display: flex; justify-content: space-between; width: 100%;">
                <p style="font-size: 10px;">{{item.create_at | date:'short'}}</p>
                <p style="font-size: 10px; margin-left: 50px;">{{item.update_at | date:'short'}}</p>
              </div>
        </div>
      </div>
      <div id="statement{{item.id}}_slip" class="toggle">
          <div *ngFor="let pic of item.pic_accout" class="sleeps">
            <img class="toggle_image" src="{{pic.image? 'http://localhost:3000/images/'+pic.image: noImage}}" alt="">
          </div>
        <button class="btn btn-danger" (click)="deleteAccoutItem(item.id)">delete</button>
      </div>
  </div>
</div>

<app-loadding *ngIf="isLoading"></app-loadding>
